In [1]:
import pandas as pd
import numpy as np

In [2]:
housing = pd.read_csv('data.csv')

In [3]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CRIM        505 non-null    float64
 1   ZN          505 non-null    float64
 2   INDUS       505 non-null    float64
 3   CHAS        505 non-null    int64
 4   NOX         505 non-null    float64
 5   RM          505 non-null    float64
 6   AGE         505 non-null    float64
 7   DIS         505 non-null    float64
 8   RAD         505 non-null    int64
 9   TAX         505 non-null    int64
 10  PTRATIO     505 non-null    float64
 11  B           505 non-null    float64
 12  LSTAT       505 non-null    float64
 13  MEDV        505 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

In [4]:
housing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
corr_matrix = housing.corr()

In [6]:
corr_matrix['MEDV'].sortvalues(asscending='false')

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.556314,0.539809,NaN,0.645534,-0.609564,0.209247,-0.760101,0.210150,0.497118,0.802322,-0.316463,0.303482,-0.618693
ZN,-0.556314,1.000000,-0.041684,NaN,0.165863,-0.008640,0.157605,0.515766,0.280631,0.338551,-0.902488,0.208909,0.321227,-0.052451
INDUS,0.539809,-0.041684,1.000000,NaN,0.700855,-0.712327,0.368790,-0.325182,0.628314,0.780673,0.200710,-0.209095,0.587075,-0.709197
CHAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NOX,0.645534,0.165863,0.700855,NaN,1.000000,-0.794738,0.307574,-0.531831,0.482159,0.959590,0.239397,-0.240677,0.508519,-0.795231
RM,-0.609564,-0.008640,-0.712327,NaN,-0.794738,1.000000,-0.251389,0.406217,-0.602479,-0.796537,-0.275985,0.443742,-0.610038,0.825088
AGE,0.209247,0.157605,0.368790,NaN,0.307574,-0.251389,1.000000,-0.002711,0.284281,0.363258,-0.072022,0.155583,0.723830,-0.569529
DIS,-0.760101,0.515766,-0.325182,NaN,-0.531831,0.406217,-0.002711,1.000000,0.283592,-0.320048,-0.748636,0.305529,0.050885,0.392582
RAD,0.210150,0.280631,0.628314,NaN,0.482159,-0.602479,0.284281,0.283592,1.000000,0.651612,-0.159186,-0.083849,0.674612,-0.491758
TAX,0.497118,0.338551,0.780673,NaN,0.959590,-0.796537,0.363258,-0.320048,0.651612,1.000000,0.021811,-0.187310,0.631792,-0.791673
PTRATIO,0.802322,-0.902488,0.200710,NaN,0.239397,-0.275985,-0.072022,-0.748636,-0.159186,0.021811,1.000000,-0.298695,-0.174632,-0.232818
B,-0.316463,0.208909,-0.209095,NaN,-0.240677,0.443742,0.155583,0.305529,-0.083849,-0.187310,-0.298695,1.000000,-0.108463,0.252268
LSTAT,0.303482,0.321227,0.587075,NaN,0.508519,-0.610038,0.723830,0.050885,0.674612,0.631792,-0.174632,-0.108463,1.000000,-0.703040
MEDV,-0.618693,-0.052451,-0.709197,NaN,-0.795231,0.825088,-0.569529,0.392582,-0.491758,-0.791673,-0.232818,0.252268,-0.703040,1.000000

In [20]:
def split_test_train(data,test_ratio):
    shuffled = np.random.permutation(len(data))
    test_set_size = (len(data)*test_ratio)
    train_indices = shuffled[:test_set_size]
    test_indice s= shuffled[test_set_size:]

In [21]:

train_set, test_set = split_test_train(housing,0.2)

TypeError: slice indices must be integers or None or have an __index__ method